<form action="">
  <label for="nombre">Nombre</label>
  <input type="text" id="" #vName placeholder="Escribe tu nombre">

  <label for="dni">DNI</label>
  <input type="text" #vDNI id="" placeholder="Escribe tu dni">

  <div [ngSwitch]="mostrarInfo">
    <div class="correcto" *ngSwitchCase="'DNI correcto'">DNI Correcto</div>
    <div class="incorrecto" *ngSwitchCase="'DNI incorrecto'">DNI Incorrecto</div>
  </div>

  <label for="mensaje">Mensaje</label>
  <textarea type="text" id="" #vMensaje placeholder="Escribe tu mensaje" ></textarea>

  <div [ngSwitch]="mostrarInfo2">
    <div class="mensaje" *ngSwitchCase="'Mensaje demasiado corto'">Mensaje demasiado corto</div>
  </div>

  <input type="button" (click)="enviarDatos(vName, vDNI.value, vMensaje.value)" value="Enviar">
</form>
